# Ignore environment variables file
.env

# Ignore dependencies
/node_modules

# Ignore private files
/private

# JetBrains IDE files
.idea/

# Visual Studio Code settings
.vscode/

# Ignore log files
/logs

# Ignore data files
/data